<footer class="site-footer">
    <div class="footer-wrapper">
        <div class="footer">
            <div class="contact-details">
                {%- for entry in site.minimalista.social_links -%}
                    {%- include social_links.html -%}
                {%- endfor -%}
            </div>
            <div class="description">
                <h3>Description</h3>
                <hr>
                <p>
                    {{ site.description }}
                </p>
            </div>
        </div>
    </div>
</footer>
